extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Indian Tourister
          small &nbsp; FInd places to visit in India..!!

    .row
      .col-xs-12.col-sm-8
        p Places to Visit
      .col-xs-12.col-sm-4
        p.lead Indian Tourister helps you find places to visit.
