extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Indian Tourister
          small &nbsp; FInd places to visit in India..!!

    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href="/location") Visakhaatnam
              small &nbsp;
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge.default 100m
            p.address Located in Andhra Pradesh
            p
              span.label.label-warning Hot weather
              | &nbsp;
              span.label.label-warning Spicy Food
              | &nbsp;
              span.label.label-warning Cool People

        .col-xs-12.col-sm-4
          p.lead Looking for a greater winter vaction along with family? Indian
          Tourister help you in finding the right place to visit.  
